*{
    margin: 0px;
    box-sizing: border-box;
    background-image: url(back1.JPG);
}
html {
    max-height: 1450px;
    overflow: auto;
    
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-------- CONTENT CONTAINER------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>------ --> */


.content {
  max-width: 95%;
  margin: auto;
  height: 100em;
  padding: 10px;
  position: relative;
  top: -710px;
  background: #a8d3e6;
}
.content *{
    background: #a8d3e6;
}

.nav{
    list-style-type: none;
    position: relative;
}
.nav-link{
    
      float: left;
      padding:30px;
      position: relative;
      left: 20%;
}
.nav-link a {
    
    position: relative;
    text-decoration: none;
    color: #f0b7a1;
    font-weight: bolder;
}
.nav-link a:hover{
    
    color: #896152;
  }
#welcome{
    color: red;
    text-align: center;
    margin-top: 50px;
}
p{
    text-align: center;
    font-size: 25px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER SECTION >>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
footer{
    position: absolute;
    bottom: 5px;
    margin: 10px;
    left: 25%;
}
footer div ul{
    list-style-type: none;
}
footer div ul li{
    position: relative;
    float: left;
    margin: 5%;
    left: 20%;
    
}
footer p{
    float: left;  
}

footer p a{
    text-decoration: none;
    color: #f0b7a1;
    font-weight: bolder;
    
}
footer p a:visited{
    color: red;
    
}
footer p a:hover {
    
    color: #896152;  
}